.idea/
venv/

books_service/.env/
books_service/__pycache__/
books_service/books_service/__pycache__/
books_service/books/__pycache__/
books_service/common/__pycache__/
books_service/books/migrations/__pycache__/
