{% extends 'books/base.html' %}
{% load humanize %}


{% block content %}
<div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="colored">
					<h1 class="page-title">Order - #{{ order.order_number }}</h1>
					<div class="breadcum-items">
						<span class="item"><a href="{% url 'books:index' %}">Home /</a></span>
                        <span class="item colored">
                            <a href="{% url 'books:index' %}">Orders /</a> #{{ order.order_number }}
                        </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--site-banner-->

<section class="contact-information padding-large mt-3">
	<div class="container">
		<div class="row" style="display: flex; justify-content: space-between">
            <div class="col-md-4 p-0">

                <div id="info" style="position: sticky; top: 20px">
                    <h2>Personal information</h2>
                    <p style="margin-bottom: 10px">First name: <b>{{ order.first_name }}</b></p>
                    <p style="margin-bottom: 10px">Last name: <b>{{ order.last_name }}</b></p>
                    <p style="margin-bottom: 10px">E-mail: <b>{{ order.email }}</b></p>
                    <p style="margin-bottom: 10px">Phone: <b>{{ order.email }}</b></p>
                    <p style="margin-bottom: 10px">Address: <b>{{ order.email }}</b></p>
                    <p style="margin-bottom: 10px">Message: <b>{{ order.email }}</b></p>
                    <p style="margin-bottom: 10px">Created: <b>{{ order.created_timestamp }}</b></p>
				</div><!--contact-information-->

			</div><!--col-md-6-->
			<div class="col-md-4 p-0 mb-3">
				<h2 style="display: flex; justify-content: center">Products</h2>
				<div class="contact-detail d-flex flex-wrap mt-4">
					{% for current in order.extra_data %}
                    <figure class="product-style">
                        <a href="{% url 'books:review' current.book_id %}">
                            <img src="{{ current.image }}" alt="Books" class="product-item">
                        </a>
                        <figcaption>
                            <h3>{{ current.name }}</h3>
                            <p>Quantity: {{ current.quantity }}</p>
                            <div class="item-price">$ {{ current.price }}</div>
                        </figcaption>
                    </figure>
                {% endfor %}
				</div><!--contact-detail-->
			</div><!--col-md-6-->

		</div>
	</div>
</section>

{% endblock %}
