{% extends 'books/base.html' %}
{% load static cache humanize %}

{% block content %}
<section id="billboard">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<button class="prev slick-arrow">
					<i class="icon icon-arrow-left"></i>
				</button>
				<div class="main-slider pattern-overlay">
                    {% for preview in previews %}
					<div class="slider-item">
						<div class="banner-content">
							<h2 class="banner-title">{{ preview.name }}</h2>
							<p>{{ preview.description }}</p>
							<div class="btn-wrap">
								<a href="{% url 'books:review' preview.book %}" class="btn btn-outline-accent btn-accent-arrow">Read More<i class="icon icon-ns-arrow-right"></i></a>
							</div>
						</div><!--banner-content--> 
						<img src="{{ preview.image }}" alt="banner" class="banner-image">
					</div><!--slider-item-->
                    {% endfor %}

				</div><!--slider-->
					
				<button class="next slick-arrow">
					<i class="icon icon-arrow-right"></i>
				</button>
				
			</div>
		</div>
	</div>
</section>

<section id="client-holder" data-aos="fade-up">
	<div class="container">
		<div class="row">
			<div class="inner-content">
				<div class="logo-wrap">
					<div class="grid">
                        {% for partner in partners %}
						    <img src="{{ partner.image }}" alt="client">
                        {% endfor %}
					</div>
				</div><!--image-holder-->
			</div>
		</div>
	</div>
</section>

<section id="featured-books">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <div class="section-header align-center">
                    <div class="title">
                        <span>Some quality items</span>
                    </div>
                    <h2 class="section-title">Featured Books</h2>
                </div>

                <div class="product-list" data-aos="fade-up">
                    <div class="row">
                        {% for recommendation in recommendations %}
                            <div class="col-md-3">
                                <figure class="product-style">
                                    <a href="{% url 'books:review' recommendation.book %}">
                                        <img src="{{ recommendation.image }}" alt="Book" class="product-item">
                                    </a>
                                    <figcaption>
                                        <h3>{{ recommendation.name }}</h3>
                                        <br>
                                        <div class="item-price">$ {{ recommendation.price | intcomma }}</div>
                                    </figcaption>
                                </figure>
                            </div>
                        {% endfor %}
                    </div><!--ft-books-slider-->
                </div><!--grid-->
			</div><!--inner-content-->
		</div>

		<div class="row">
			<div class="col-md-12">

				<div class="btn-wrap align-right">
					<a href="{% url 'books:shop' category="all"|urlencode %}" class="btn-accent-arrow" target="_blank">View all products <i class="icon icon-ns-arrow-right"></i></a>
				</div>

			</div>
		</div>

	</div>
</section>

<section id="best-selling" class="leaf-pattern-overlay">
	<div class="corner-pattern-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-6">
						<figure class="products-thumb">
							<img src="{{ books.image }}" alt="book" class="single-image">
						</figure>	
					</div>

					<div class="col-md-6">
						<div class="product-entry">
							<h2 class="section-title divider">Best Selling Book</h2>

							<div class="products-content">
								<h3 class="item-title">{{ books.name }}</h3>
								<p>{{ books.description }}</p>
								<div class="item-price">$ {{ books.price }}</div>
								<div class="btn-wrap">
									<a href="{% url 'books:review' books.id %}" class="btn-accent-arrow">shop it now <i class="icon icon-ns-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
{% endblock %}