{% extends 'books/base.html' %}

{% block content %}
<section class="bg-sand padding-large">
	<div class="container">
		<div class="row">

            <figure class="product-style" style="pointer-events: none">
                <div class="col-md-4" style="margin-right: 50px">
                    <img class="product-item" src="{{ book.image.url }}">
                </div>
            </figure>

			<div class="col-md-6 pl-5">
				<div class="product-detail">
					<h1>{{ book.name }}</h1>
					<p> </p>
					<span class="price colored"><b>${{ book.price }}</b></span>
					<p>{{ book.description }}</p>
					<button type="submit" name="add-to-cart" value="27545" class="button">Add to cart</button>
					
				</div>
			</div>

		</div>
	</div>
</section>
{% endblock %}